.DeathKnight{
	background-color:#c41f3b;
}
.DemonHunter{
	background-color:#a330c9;
}
.Druid{
	background-color:#ff7d0a;
}
.Evoker{
	background-color:#33937F;
}
.Hunter{
	background-color:#abd473;
}
.Mage{
	background-color:#69ccf0;
}
.Monk{
	background-color:#00ff96;
}
.Paladin{
	background-color:#f58cba;
}
.Priest{
	background-color:#fff;
}
.Rogue{
	background-color:#fff569;
}
.Shaman{
	background-color:#0070de;
}
.Warlock{
	background-color:#9482c9;
}
.Warrior{
	background-color:#c79c6e;
}